.credit-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  margin: 0 10px;
}

.label-input-container {
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}

.label-input-container input {
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
  box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.label-input-container ::-webkit-input-placeholder {
  height: 19px;
  width: 100%;
  color: #e0e7ee;
  font-size: 16px;
  letter-spacing: 1.37px;
  line-height: 19px;
}

.label-input {
  display: flex;
  flex-direction: column;
  width: 210px;
}

.label-input input {
  width: 100%;
}

.label-input-container.small-container {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
