.card-container {
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 29, 0.22);
  padding: 20px;
  margin: 15px;
}

.product-price {
  text-align: end;
  font-weight: 600;
}
